.navCont{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}
.navCont ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  line-height: 90px;
}
.navCont ul>li{
  list-style-type: none;
  color: rgba(75, 82, 88, 1);
  font-size: 12px;
}
.navCont ul>li .logo{
  position: relative;
  top:15px;
}
.navCont ul>li .image{
  position: relative;
  top:7px;
}
.navCont ul>li>li{
  position: relative;
  top:-60px;
  list-style-type: disc;
  color: rgba(32, 255, 135, 1);
  left:20px;
}
.navCont ul>li>li span{
  color:rgba(149, 154, 157, 1);
}
.navCont ul>li select{
  width: 130px;
  height: 30px;
  border:1px solid rgba(67, 170, 255, 1);
  background-color: #fff;
  border-radius: 50px;
  padding-left: 15px;
  font-size: 12px;
}
.mainCont{
  width: 100%;
  height: 625px;
  background-size: 100%;
  background-image: url('../public/images/Девушка\ 2.png');
  background-position-x: 150px ;
}
.mainCont h1{
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  color: #4B5258;
  position: relative;
  left:35px;
  width: 47%;
  top:90px;
}
.mainCont h1 .line{
  display: inline-block;
  height: 1.7px;
  width: 36px;
  border-radius: 20px;
  background-color: rgba(67, 170, 255, 1);
  margin-right: 10px;
  position: relative;
  top:-4px
}
.mainCont h1 .title{
  font-weight: 400;
  font-size: 20px;
}
.mainCont >.title{
  font-family: 'Mont';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4B5258;
  position: relative;
  left:35px;
  width: 47%;
  top:130px;
}
.mainCont .btn1{
  width: 220px;
  height: 60px;
  background: #43AAFF;
  box-shadow: inset 0px 4px 10px rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  border:none;
  color:#fff;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  top:160px;
  left:30px;
  margin:5px ;
}

.mainCont .btn2{
  width: 220px;
  height: 60px;
  background: rgba(255, 194, 77, 1);
  box-shadow: inset 0px 4px 10px rgba(255, 194, 77, 1);
  border-radius: 100px;
  border:none;
  color:#fff;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  top:160px;
  left:30px;
  margin:20px;
}
.cardCont{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardCont .box1{
  width: 23%;
  height: 150px;
  background: #43AAFF;
  border-radius: 30px;
  position: relative;
  top:70px;
  display: flex;
  justify-content: space-around;
}
.cardCont .box2{
  width: 23%;
  height: 150px;
  background: rgba(255, 194, 77, 1);
  border-radius: 30px;
  position: relative;
  top:70px;
  display: flex;
  justify-content: space-around;
}
.cardCont .box1 .textbox{
  width: 65%;
  height: 100%;
}
.cardCont .box1 .imgbox{
  width: 35%;
  height: 100%;
}
.cardCont .box1 .imgbox .image{
  border-bottom-right-radius: 30px;
  position: relative;
  top:19px;
}
.cardCont .box2 .textbox{
  width: 65%;
  height: 100%;
}
.cardCont .box2 .textbox p{
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  position: relative;
  top:45px;
  left:20px;
}
.cardCont .box1 .textbox p{
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  position: relative;
  top:45px;
  left:20px;
}
.cardCont .box2 .imgbox{
  width: 35%;
  height: 100%;
}
.cardCont .box2 .imgbox .image{
  border-bottom-right-radius: 30px;
  position: relative;
  top:19px;
}
.cardCont .text{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  color: #4B5258;
  font-weight: 600;
  font-size: 14px;
  line-height: 90px;
}
.ContactCont{
  width: 100%;
  height: 725px;
}
.ContactCont h1{
font-family: 'Mont';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 150%;
color: #4B5258;
text-align: center;
}
.ContactCont p{
font-family: 'Mont';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 150%;
color: #959A9D;
text-align: center;
}
.ContactCont .card{
  width: 96%;
  height: 705px;
  background-image: url('../public/images/Mask\ Group.png');
  border-radius: 30px;
  background-size: 100% 100%;
  position: relative;
  left:2%;
  top:20px;
}
.ContactCont .card .telegram{
  width: 213px;
  height: 70px;
  background-color: #fff;
  border: none;
  margin: 15px;
  border-radius:30px ;
  position: relative;
  top:70px;
  left:47px;
}
.ContactCont .card .h1{
  width: 55%;
  text-align: center;
  position: relative;
  top:60px;
  left:25px;
}
.ContactCont .card .contact{
  width: 455px;
  height: 70px;
  background-color: #fff;
  border: none;
  margin: 15px;
  border-radius:30px ;
  position: relative;
  top:70px;
  left:47px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #959A9D;
}

.ContactCont .card .contact1{
  width: 455px;
  height: 70px;
  background: rgba(255, 194, 77, 1);
  border: none;
  margin: 15px;
  border-radius:30px ;
  position: relative;
  top:70px;
  left:47px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.ContactCont .card li{
  color: rgba(255, 194, 77, 1);
  font-weight: 600;
  font-size: 25px;
  width: 40%;
  position: relative;
  left:70px;
  top:70px;
}
.ContactCont .card li span{
  color: #959A9D;
  font-size: 14px;
}